### Imports

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

import re
import os
import time
from random import randint

In [2]:
os.environ['PATH'] = r"/Users/aniekan/seleniumDrivers/bin/"
browser = webdriver.Chrome()

### Extract Data

In [3]:
typ = []
address = []
desc = []
beds = []
baths = []
price = []
agent = []
tel = []

In [4]:
pages = np.arange(1, 401)

s = time.time()
for page in pages:
    browser.get('https://www.zoopla.co.uk/to-rent/property/london/?page_size=25&price_frequency=per_month&q=London&radius=0&results_sort=newest_listings&search_source=refine&pn='+ str(page))
    browser.implicitly_wait(100)
    content = browser.page_source
    soup = BeautifulSoup(content, 'html.parser')
    
    listings = soup.find('div', class_='earci3d2')
    
    for listing in listings:
        # phone number
        try:
            phone = listing.find('a', attrs={'data-testid':'agent-phone-number'}).get_text()
            tel.append(phone)
        except: tel.append('')
        # address  
        try:
            addy = listing.find(attrs={'data-testid':'listing-description'}).get_text()
            address.append(addy)
        except: address.append('')
        # description
        try:
            d = listing.h2.text
            desc.append(d)
            # type of property
            try:
                t = re.search(r'(\d+\sbed)?(.*?) to rent', d).group(2).strip().capitalize()
                typ.append(t)
            except: typ.append('')
        except: desc.append('')
        # price  
        try: 
            p = listing.find('div', attrs={'data-testid':'listing-price'}).p.text
            price.append(p)
        except: price.append('')
        # agent
        try: 
            ag = listing.find('a', attrs={'data-testid':'listing-details-agent-logo'}).img['alt']
            agent.append(ag)
        except: agent.append('')
        # beds and baths
        try:
            spec = list(listing.find(attrs={'data-testid':'listing-spec'}).children)
            bdc = 0
            bthc = 0
            for rm in spec:
                if rm.span.span['data-testid'] == 'bed':
                    beds.append(rm.text)
                    bdc +=1
                if rm.span.span['data-testid'] == 'bath':
                    baths.append(rm.text)
                    bthc += 1
            if bdc == 0:
                beds.append('')
            if bthc == 0:
                baths.append('')
        except:
            beds.append('')
            baths.append('')

st = time.time()
mins, sec = divmod(st-s, 60)
hrs, mins = divmod(mins, 60)
print(f'HH:{int(hrs)} MM:{int(mins)} SS:{sec:.5f}')

HH:0 MM:16 SS:57.47450

### Convert to DataFrame

In [5]:
table = pd.DataFrame({"PropertyType":typ, "Address":address, "Description":desc, "Bedrooms":beds, 
                      "Bathrooms":baths, "Price (£)":price, "Agent":agent, "Tel":tel})
table

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
0,Flat,"Rotherhithe New Road, London SE16",3 bed flat to rent,3,1,"£1,842 pcm","Marketed by Merlin Cooper, SW1W",020 8128 1578
1,Studio,"Chingford Road, London E17",Studio to rent,,1,£750 pcm,"Marketed by Next Location Ltd Co Ltd, N16",020 8022 0049
2,Flat,"Gateway, Walworth Road, London SE17",5 bed flat to rent,5,1,"£2,708 pcm","Marketed by Merlin Cooper, SW1W",020 8128 1578
3,Flat,"Queens Drive, London N4",3 bed flat to rent,3,1,"£1,770 pcm","Marketed by Blackstones Estates, N8",020 3641 4305
4,Flat,"Milton Court, Chesterton Close, Wandsworth SW18",1 bed flat to rent,1,,"£1,500 pcm","Marketed by Lets Find A Home, SW18",020 3641 0386
...,...,...,...,...,...,...,...,...
9995,Flat,"Hanworth Road, Hounslow TW3",1 bed flat to rent,1,1,"£1,150 pcm","Marketed by Martin & Co Twickenham, TW1",020 3641 4127
9996,Flat,"Calvert Drive, Dartford DA2",2 bed flat to rent,2,2,"£1,450 pcm","Marketed by Capital Sidcup, DA15",020 3641 1743
9997,Flat,"Belsize Avenue, London NW3",2 bed flat to rent,2,1,"£2,100 pcm","Marketed by OpenRent, EC1N",020 3542 2178
9998,Flat,"Framlingham Court, Chadwell Heath, Romford RM6",2 bed flat to rent,2,1,"£1,200 pcm","Marketed by OpenRent, EC1N",020 3542 2178
9999,Studio,"Eagle Lodge, London NW11",Studio to rent,,1,"£1,100 pcm","Marketed by OpenRent, EC1N",020 3542 2178

In [6]:
table.describe()

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
count,10000,10000,10000,10000,10000,10000,10000,10000
unique,25,7496,97,11,10,901,2545,2553
top,Flat,"Hill Street, London W1J",2 bed flat to rent,2,1,"£1,400 pcm","Marketed by OpenRent, EC1N",020 3542 2178
freq,6783,85,2997,3388,6144,303,743,743

In [7]:
t = table[table != '']
t.isnull().sum()

PropertyType       0
Address            0
Description        0
Bedrooms        1038
Bathrooms        877
Price (£)          0
Agent             22
Tel                0
dtype: int64

In [8]:
t.loc[t.Agent.isnull()]

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
105,Studio,"Hammersmith Grove, Hammersmith W6",Studio to rent,NaN,1,£950 pcm,NaN,020 3641 9140
116,Studio,"Uxbridge Road, Shepherds Bush W12",Studio to rent,NaN,1,£900 pcm,NaN,020 3641 9140
156,Studio,"Kilburn High Road, Kilburn NW6",Studio to rent,NaN,1,£845 pcm,NaN,020 3641 9140
552,Studio,"Queens Avenue, Muswell Hill N10",Studio to rent,NaN,1,£845 pcm,NaN,020 8115 5403
587,Flat,"Winkfield Road, Wood Green, London N22",2 bed flat to rent,2,1,"£1,517 pcm",NaN,020 8115 5403
2704,Flat,"Shaftesbury Avenue, Covent Garden WC2H",1 bed flat to rent,1,1,"£2,349 pcm",NaN,020 3641 2372
2752,Studio,"High Road, Neasden NW10",Studio to rent,NaN,1,£875 pcm,NaN,020 3641 2372
2961,Flat,"Western Road, Romford RM1",1 bed flat to rent,1,1,£900 pcm,NaN,01708 954867
3851,Studio,"High Road, Neasden NW10",Studio to rent,NaN,1,£854 pcm,NaN,020 3641 2372
3852,Flat,"Bryantwood Road, Drayton Park N7",1 bed flat to rent,1,1,"£1,400 pcm",NaN,020 3641 2372
5623,Flat,"Finchley Road, Swiss Cottage NW3",2 bed flat to rent,2,1,"£2,383 pcm",NaN,020 8115 5403
6047,Room,"Wells Road, London NW10",Room to rent,1,1,£700 pcm,NaN,020 8022 9051
6061,Room,"Wells House Road, London NW10",Room to rent,1,1,£700 pcm,NaN,020 8022 9051
7075,Studio,"Vanston Place, Fulham SW6",Studio to rent,NaN,1,£950 pcm,NaN,020 3641 9140
8106,Flat,"Shaftesbury Avenue, Covent Garden WC2H",1 bed flat to rent,1,1,"£2,349 pcm",NaN,020 3641 2372
9053,Flat,"Rose Court, Baltic Avenue, Brentford TW8",1 bed flat to rent,1,1,"£1,300 pcm",NaN,020 3641 2372
9290,Maisonette,"Saxon Road, London E3",4 bed maisonette to rent,4,1,"£2,000 pcm",NaN,020 8033 0778
9294,Room,"20 Salisbury Road, London E12",Room to rent,1,1,£700 pcm,NaN,020 8033 0778
9297,Room,"First Avenue, London E12",Room to rent,1,1,£500 pcm,NaN,020 8033 0778
9465,Flat,"Riverside Close, Romford RM1",2 bed flat to rent,2,2,"£1,195 pcm",NaN,01708 954867
9496,Room,"Brunswick Road, Hanger Lane Ealing W5",Room to rent,1,1,£650 pcm,NaN,020 3641 9140
9497,Room,"Warwick Road, Ealing W5",Room to rent,1,1,£800 pcm,NaN,020 3641 9140

In [9]:
ind = t.loc[t.Agent.isnull()].index.to_list() 

missing = ['Marketed by Ewing property Consultants, NW10', 'Marketed by Ewing property Consultants, NW10',
           'Marketed by Ewing property Consultants, NW10', 'Marketed by V.M.T. Estates Limited, N17', 
           'Marketed by V.M.T. Estates Limited, N17', 'Marketed by Miki Property, NW5', 'Marketed by Miki Property, NW5',
           'Marketed by Harveststock Property Services, RM2', 'Marketed by Miki Property, NW5', 'Marketed by Miki Property, NW5',
           'Marketed by V.M.T. Estates Limited, N17', 'Marketed by City Properties, CM14', 'Marketed by City Properties, CM14',
           'Marketed by Ewing property Consultants, NW10', 'Marketed by Miki Property, NW5', 'Marketed by Miki Property, NW5',
           'Marketed by East Homes Estates, E14', 'Marketed by East Homes Estates, E14', 'Marketed by East Homes Estates, E14',
           'Marketed by Haverstock Property Services, RM2', 'Marketed by Ewing Property Consultant, W10', 'Marketed by Ewing Property Consultant, W10']

In [10]:
for i, j in enumerate(ind):
    t.loc[j, 'Agent'] = missing[i]
    
def fill_missing(row):
    if row.PropertyType == 'Studio':
        row.Bedrooms = 1
        if pd.isnull(row.Bathrooms):
            row.Bathrooms = 1 
    return row

t.apply(fill_missing, axis='columns')

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
0,Flat,"Rotherhithe New Road, London SE16",3 bed flat to rent,3,1,"£1,842 pcm","Marketed by Merlin Cooper, SW1W",020 8128 1578
1,Studio,"Chingford Road, London E17",Studio to rent,1,1,£750 pcm,"Marketed by Next Location Ltd Co Ltd, N16",020 8022 0049
2,Flat,"Gateway, Walworth Road, London SE17",5 bed flat to rent,5,1,"£2,708 pcm","Marketed by Merlin Cooper, SW1W",020 8128 1578
3,Flat,"Queens Drive, London N4",3 bed flat to rent,3,1,"£1,770 pcm","Marketed by Blackstones Estates, N8",020 3641 4305
4,Flat,"Milton Court, Chesterton Close, Wandsworth SW18",1 bed flat to rent,1,NaN,"£1,500 pcm","Marketed by Lets Find A Home, SW18",020 3641 0386
...,...,...,...,...,...,...,...,...
9995,Flat,"Hanworth Road, Hounslow TW3",1 bed flat to rent,1,1,"£1,150 pcm","Marketed by Martin & Co Twickenham, TW1",020 3641 4127
9996,Flat,"Calvert Drive, Dartford DA2",2 bed flat to rent,2,2,"£1,450 pcm","Marketed by Capital Sidcup, DA15",020 3641 1743
9997,Flat,"Belsize Avenue, London NW3",2 bed flat to rent,2,1,"£2,100 pcm","Marketed by OpenRent, EC1N",020 3542 2178
9998,Flat,"Framlingham Court, Chadwell Heath, Romford RM6",2 bed flat to rent,2,1,"£1,200 pcm","Marketed by OpenRent, EC1N",020 3542 2178
9999,Studio,"Eagle Lodge, London NW11",Studio to rent,1,1,"£1,100 pcm","Marketed by OpenRent, EC1N",020 3542 2178

In [11]:
t.isna().sum()

PropertyType      0
Address           0
Description       0
Bedrooms        142
Bathrooms       759
Price (£)         0
Agent             0
Tel               0
dtype: int64

In [12]:
t.iloc[ind, :]

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
105,Studio,"Hammersmith Grove, Hammersmith W6",Studio to rent,1,1,£950 pcm,"Marketed by Ewing property Consultants, NW10",020 3641 9140
116,Studio,"Uxbridge Road, Shepherds Bush W12",Studio to rent,1,1,£900 pcm,"Marketed by Ewing property Consultants, NW10",020 3641 9140
156,Studio,"Kilburn High Road, Kilburn NW6",Studio to rent,1,1,£845 pcm,"Marketed by Ewing property Consultants, NW10",020 3641 9140
552,Studio,"Queens Avenue, Muswell Hill N10",Studio to rent,1,1,£845 pcm,"Marketed by V.M.T. Estates Limited, N17",020 8115 5403
587,Flat,"Winkfield Road, Wood Green, London N22",2 bed flat to rent,2,1,"£1,517 pcm","Marketed by V.M.T. Estates Limited, N17",020 8115 5403
2704,Flat,"Shaftesbury Avenue, Covent Garden WC2H",1 bed flat to rent,1,1,"£2,349 pcm","Marketed by Miki Property, NW5",020 3641 2372
2752,Studio,"High Road, Neasden NW10",Studio to rent,1,1,£875 pcm,"Marketed by Miki Property, NW5",020 3641 2372
2961,Flat,"Western Road, Romford RM1",1 bed flat to rent,1,1,£900 pcm,"Marketed by Harveststock Property Services, RM2",01708 954867
3851,Studio,"High Road, Neasden NW10",Studio to rent,1,1,£854 pcm,"Marketed by Miki Property, NW5",020 3641 2372
3852,Flat,"Bryantwood Road, Drayton Park N7",1 bed flat to rent,1,1,"£1,400 pcm","Marketed by Miki Property, NW5",020 3641 2372
5623,Flat,"Finchley Road, Swiss Cottage NW3",2 bed flat to rent,2,1,"£2,383 pcm","Marketed by V.M.T. Estates Limited, N17",020 8115 5403
6047,Room,"Wells Road, London NW10",Room to rent,1,1,£700 pcm,"Marketed by City Properties, CM14",020 8022 9051
6061,Room,"Wells House Road, London NW10",Room to rent,1,1,£700 pcm,"Marketed by City Properties, CM14",020 8022 9051
7075,Studio,"Vanston Place, Fulham SW6",Studio to rent,1,1,£950 pcm,"Marketed by Ewing property Consultants, NW10",020 3641 9140
8106,Flat,"Shaftesbury Avenue, Covent Garden WC2H",1 bed flat to rent,1,1,"£2,349 pcm","Marketed by Miki Property, NW5",020 3641 2372
9053,Flat,"Rose Court, Baltic Avenue, Brentford TW8",1 bed flat to rent,1,1,"£1,300 pcm","Marketed by Miki Property, NW5",020 3641 2372
9290,Maisonette,"Saxon Road, London E3",4 bed maisonette to rent,4,1,"£2,000 pcm","Marketed by East Homes Estates, E14",020 8033 0778
9294,Room,"20 Salisbury Road, London E12",Room to rent,1,1,£700 pcm,"Marketed by East Homes Estates, E14",020 8033 0778
9297,Room,"First Avenue, London E12",Room to rent,1,1,£500 pcm,"Marketed by East Homes Estates, E14",020 8033 0778
9465,Flat,"Riverside Close, Romford RM1",2 bed flat to rent,2,2,"£1,195 pcm","Marketed by Haverstock Property Services, RM2",01708 954867
9496,Room,"Brunswick Road, Hanger Lane Ealing W5",Room to rent,1,1,£650 pcm,"Marketed by Ewing Property Consultant, W10",020 3641 9140
9497,Room,"Warwick Road, Ealing W5",Room to rent,1,1,£800 pcm,"Marketed by Ewing Property Consultant, W10",020 3641 9140

In [13]:
t.to_csv('rent_properties_London.csv', index=False)

### PostgreSQL
Send results to sql database

In [23]:
#import sqlalchemy

#t = t.rename(columns={'Price (£)':'Price GBP'})

#engine = sqlalchemy.create_engine('postgresql://database:password@localhost:port')
#t.to_sql('renting_london_zoopla', engine, index=False)