### Imports

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

import re
import os
import time
from random import randint

In [2]:
os.environ['PATH'] = r"~/seleniumDrivers/bin/"
browser = webdriver.Chrome()

### Extract Data

In [3]:
typ = []
address = []
desc = []
beds = []
baths = []
price = []
agent = []
tel = []

In [4]:
pages = np.arange(1, 401)

s = time.time()
for page in pages:
    browser.get('https://www.zoopla.co.uk/to-rent/property/london/?page_size=25&price_frequency=per_month&q=London&radius=0&results_sort=newest_listings&search_source=refine&pn='+ str(page))
    browser.implicitly_wait(100)
    content = browser.page_source
    soup = BeautifulSoup(content, 'html.parser')
    
    listings = soup.find('div', class_='earci3d2')
    
    for listing in listings:
        # phone number
        try:
            phone = listing.find('a', attrs={'data-testid':'agent-phone-number'}).get_text()
            tel.append(phone)
        except: tel.append('')
        # address  
        try:
            addy = listing.find(attrs={'data-testid':'listing-description'}).get_text()
            address.append(addy)
        except: address.append('')
        # description
        try:
            d = listing.h2.text
            desc.append(d)
            # type of property
            try:
                t = re.search(r'(\d+\sbed)?(.*?) to rent', d).group(2).strip().capitalize()
                typ.append(t)
            except: typ.append('')
        except: desc.append('')
        # price  
        try: 
            p = listing.find('div', attrs={'data-testid':'listing-price'}).p.text
            price.append(p)
        except: price.append('')
        # agent
        try: 
            ag = listing.find('a', attrs={'data-testid':'listing-details-agent-logo'}).img['alt']
            agent.append(ag)
        except: agent.append('')
        # beds and baths
        try:
            spec = list(listing.find(attrs={'data-testid':'listing-spec'}).children)
            bdc = 0
            bthc = 0
            for rm in spec:
                if rm.span.span['data-testid'] == 'bed':
                    beds.append(rm.text)
                    bdc +=1
                if rm.span.span['data-testid'] == 'bath':
                    baths.append(rm.text)
                    bthc += 1
            if bdc == 0:
                beds.append('')
            if bthc == 0:
                baths.append('')
        except:
            beds.append('')
            baths.append('')

st = time.time()
mins, sec = divmod(st-s, 60)
hrs, mins = divmod(mins, 60)
print(f'HH:{int(hrs)} MM:{int(mins)} SS:{sec:.5f}')

HH:0 MM:16 SS:57.47450

### Convert to DataFrame

In [5]:
table = pd.DataFrame({"PropertyType":typ, "Address":address, "Description":desc, "Bedrooms":beds, 
                      "Bathrooms":baths, "Price (£)":price, "Agent":agent, "Tel":tel})
table

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
0,Flat,"Rotherhithe New Road, London SE16",3 bed flat to rent,3,1,"£1,842 pcm","Marketed by Merlin Cooper, SW1W",020 8128 1578
1,Studio,"Chingford Road, London E17",Studio to rent,,1,£750 pcm,"Marketed by Next Location Ltd Co Ltd, N16",020 8022 0049
2,Flat,"Gateway, Walworth Road, London SE17",5 bed flat to rent,5,1,"£2,708 pcm","Marketed by Merlin Cooper, SW1W",020 8128 1578
3,Flat,"Queens Drive, London N4",3 bed flat to rent,3,1,"£1,770 pcm","Marketed by Blackstones Estates, N8",020 3641 4305
4,Flat,"Milton Court, Chesterton Close, Wandsworth SW18",1 bed flat to rent,1,,"£1,500 pcm","Marketed by Lets Find A Home, SW18",020 3641 0386
...,...,...,...,...,...,...,...,...
9995,Flat,"Hanworth Road, Hounslow TW3",1 bed flat to rent,1,1,"£1,150 pcm","Marketed by Martin & Co Twickenham, TW1",020 3641 4127
9996,Flat,"Calvert Drive, Dartford DA2",2 bed flat to rent,2,2,"£1,450 pcm","Marketed by Capital Sidcup, DA15",020 3641 1743
9997,Flat,"Belsize Avenue, London NW3",2 bed flat to rent,2,1,"£2,100 pcm","Marketed by OpenRent, EC1N",020 3542 2178
9998,Flat,"Framlingham Court, Chadwell Heath, Romford RM6",2 bed flat to rent,2,1,"£1,200 pcm","Marketed by OpenRent, EC1N",020 3542 2178
9999,Studio,"Eagle Lodge, London NW11",Studio to rent,,1,"£1,100 pcm","Marketed by OpenRent, EC1N",020 3542 2178

In [6]:
table.describe()

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
count,10000,10000,10000,10000,10000,10000,10000,10000
unique,25,7496,97,11,10,901,2545,2553
top,Flat,"Hill Street, London W1J",2 bed flat to rent,2,1,"£1,400 pcm","Marketed by OpenRent, EC1N",020 3542 2178
freq,6783,85,2997,3388,6144,303,743,743

In [99]:
t = table[table != '']
t.isnull().sum()

PropertyType       0
Address            0
Description        0
Bedrooms        1038
Bathrooms        877
Price (£)          0
Agent             22
Tel                0
dtype: int64

## Clean data 
### Find missing values

In [100]:
t.loc[t.Agent.isnull()]

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
105,Studio,"Hammersmith Grove, Hammersmith W6",Studio to rent,NaN,1,£950 pcm,NaN,020 3641 9140
116,Studio,"Uxbridge Road, Shepherds Bush W12",Studio to rent,NaN,1,£900 pcm,NaN,020 3641 9140
156,Studio,"Kilburn High Road, Kilburn NW6",Studio to rent,NaN,1,£845 pcm,NaN,020 3641 9140
552,Studio,"Queens Avenue, Muswell Hill N10",Studio to rent,NaN,1,£845 pcm,NaN,020 8115 5403
587,Flat,"Winkfield Road, Wood Green, London N22",2 bed flat to rent,2,1,"£1,517 pcm",NaN,020 8115 5403
2704,Flat,"Shaftesbury Avenue, Covent Garden WC2H",1 bed flat to rent,1,1,"£2,349 pcm",NaN,020 3641 2372
2752,Studio,"High Road, Neasden NW10",Studio to rent,NaN,1,£875 pcm,NaN,020 3641 2372
2961,Flat,"Western Road, Romford RM1",1 bed flat to rent,1,1,£900 pcm,NaN,01708 954867
3851,Studio,"High Road, Neasden NW10",Studio to rent,NaN,1,£854 pcm,NaN,020 3641 2372
3852,Flat,"Bryantwood Road, Drayton Park N7",1 bed flat to rent,1,1,"£1,400 pcm",NaN,020 3641 2372
5623,Flat,"Finchley Road, Swiss Cottage NW3",2 bed flat to rent,2,1,"£2,383 pcm",NaN,020 8115 5403
6047,Room,"Wells Road, London NW10",Room to rent,1,1,£700 pcm,NaN,020 8022 9051
6061,Room,"Wells House Road, London NW10",Room to rent,1,1,£700 pcm,NaN,020 8022 9051
7075,Studio,"Vanston Place, Fulham SW6",Studio to rent,NaN,1,£950 pcm,NaN,020 3641 9140
8106,Flat,"Shaftesbury Avenue, Covent Garden WC2H",1 bed flat to rent,1,1,"£2,349 pcm",NaN,020 3641 2372
9053,Flat,"Rose Court, Baltic Avenue, Brentford TW8",1 bed flat to rent,1,1,"£1,300 pcm",NaN,020 3641 2372
9290,Maisonette,"Saxon Road, London E3",4 bed maisonette to rent,4,1,"£2,000 pcm",NaN,020 8033 0778
9294,Room,"20 Salisbury Road, London E12",Room to rent,1,1,£700 pcm,NaN,020 8033 0778
9297,Room,"First Avenue, London E12",Room to rent,1,1,£500 pcm,NaN,020 8033 0778
9465,Flat,"Riverside Close, Romford RM1",2 bed flat to rent,2,2,"£1,195 pcm",NaN,01708 954867
9496,Room,"Brunswick Road, Hanger Lane Ealing W5",Room to rent,1,1,£650 pcm,NaN,020 3641 9140
9497,Room,"Warwick Road, Ealing W5",Room to rent,1,1,£800 pcm,NaN,020 3641 9140

In [101]:
ind = t.loc[t.Agent.isnull()].index.to_list() 

missing = ['Marketed by Ewing property Consultants, NW10', 'Marketed by Ewing property Consultants, NW10',
           'Marketed by Ewing property Consultants, NW10', 'Marketed by V.M.T. Estates Limited, N17', 
           'Marketed by V.M.T. Estates Limited, N17', 'Marketed by Miki Property, NW5', 'Marketed by Miki Property, NW5',
           'Marketed by Harveststock Property Services, RM2', 'Marketed by Miki Property, NW5', 'Marketed by Miki Property, NW5',
           'Marketed by V.M.T. Estates Limited, N17', 'Marketed by City Properties, CM14', 'Marketed by City Properties, CM14',
           'Marketed by Ewing property Consultants, NW10', 'Marketed by Miki Property, NW5', 'Marketed by Miki Property, NW5',
           'Marketed by East Homes Estates, E14', 'Marketed by East Homes Estates, E14', 'Marketed by East Homes Estates, E14',
           'Marketed by Haverstock Property Services, RM2', 'Marketed by Ewing Property Consultant, W10', 'Marketed by Ewing Property Consultant, W10']

In [102]:
for i, j in enumerate(ind):
    t.loc[j, 'Agent'] = missing[i]
    
def fill_missing(row):
    if row.PropertyType == 'Studio':
        row.Bedrooms = 1
        if pd.isnull(row.Bathrooms):
            row.Bathrooms = 1 
    return row

t.apply(fill_missing, axis='columns')

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
0,Flat,"Rotherhithe New Road, London SE16",3 bed flat to rent,3,1,"£1,842 pcm","Marketed by Merlin Cooper, SW1W",020 8128 1578
1,Studio,"Chingford Road, London E17",Studio to rent,1,1,£750 pcm,"Marketed by Next Location Ltd Co Ltd, N16",020 8022 0049
2,Flat,"Gateway, Walworth Road, London SE17",5 bed flat to rent,5,1,"£2,708 pcm","Marketed by Merlin Cooper, SW1W",020 8128 1578
3,Flat,"Queens Drive, London N4",3 bed flat to rent,3,1,"£1,770 pcm","Marketed by Blackstones Estates, N8",020 3641 4305
4,Flat,"Milton Court, Chesterton Close, Wandsworth SW18",1 bed flat to rent,1,NaN,"£1,500 pcm","Marketed by Lets Find A Home, SW18",020 3641 0386
...,...,...,...,...,...,...,...,...
9995,Flat,"Hanworth Road, Hounslow TW3",1 bed flat to rent,1,1,"£1,150 pcm","Marketed by Martin & Co Twickenham, TW1",020 3641 4127
9996,Flat,"Calvert Drive, Dartford DA2",2 bed flat to rent,2,2,"£1,450 pcm","Marketed by Capital Sidcup, DA15",020 3641 1743
9997,Flat,"Belsize Avenue, London NW3",2 bed flat to rent,2,1,"£2,100 pcm","Marketed by OpenRent, EC1N",020 3542 2178
9998,Flat,"Framlingham Court, Chadwell Heath, Romford RM6",2 bed flat to rent,2,1,"£1,200 pcm","Marketed by OpenRent, EC1N",020 3542 2178
9999,Studio,"Eagle Lodge, London NW11",Studio to rent,1,1,"£1,100 pcm","Marketed by OpenRent, EC1N",020 3542 2178

In [103]:
t.isna().sum()

PropertyType      0
Address           0
Description       0
Bedrooms        142
Bathrooms       759
Price (£)         0
Agent             0
Tel               0
dtype: int64

In [104]:
t.iloc[ind, :]

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
105,Studio,"Hammersmith Grove, Hammersmith W6",Studio to rent,1,1,£950 pcm,"Marketed by Ewing property Consultants, NW10",020 3641 9140
116,Studio,"Uxbridge Road, Shepherds Bush W12",Studio to rent,1,1,£900 pcm,"Marketed by Ewing property Consultants, NW10",020 3641 9140
156,Studio,"Kilburn High Road, Kilburn NW6",Studio to rent,1,1,£845 pcm,"Marketed by Ewing property Consultants, NW10",020 3641 9140
552,Studio,"Queens Avenue, Muswell Hill N10",Studio to rent,1,1,£845 pcm,"Marketed by V.M.T. Estates Limited, N17",020 8115 5403
587,Flat,"Winkfield Road, Wood Green, London N22",2 bed flat to rent,2,1,"£1,517 pcm","Marketed by V.M.T. Estates Limited, N17",020 8115 5403
2704,Flat,"Shaftesbury Avenue, Covent Garden WC2H",1 bed flat to rent,1,1,"£2,349 pcm","Marketed by Miki Property, NW5",020 3641 2372
2752,Studio,"High Road, Neasden NW10",Studio to rent,1,1,£875 pcm,"Marketed by Miki Property, NW5",020 3641 2372
2961,Flat,"Western Road, Romford RM1",1 bed flat to rent,1,1,£900 pcm,"Marketed by Harveststock Property Services, RM2",01708 954867
3851,Studio,"High Road, Neasden NW10",Studio to rent,1,1,£854 pcm,"Marketed by Miki Property, NW5",020 3641 2372
3852,Flat,"Bryantwood Road, Drayton Park N7",1 bed flat to rent,1,1,"£1,400 pcm","Marketed by Miki Property, NW5",020 3641 2372
5623,Flat,"Finchley Road, Swiss Cottage NW3",2 bed flat to rent,2,1,"£2,383 pcm","Marketed by V.M.T. Estates Limited, N17",020 8115 5403
6047,Room,"Wells Road, London NW10",Room to rent,1,1,£700 pcm,"Marketed by City Properties, CM14",020 8022 9051
6061,Room,"Wells House Road, London NW10",Room to rent,1,1,£700 pcm,"Marketed by City Properties, CM14",020 8022 9051
7075,Studio,"Vanston Place, Fulham SW6",Studio to rent,1,1,£950 pcm,"Marketed by Ewing property Consultants, NW10",020 3641 9140
8106,Flat,"Shaftesbury Avenue, Covent Garden WC2H",1 bed flat to rent,1,1,"£2,349 pcm","Marketed by Miki Property, NW5",020 3641 2372
9053,Flat,"Rose Court, Baltic Avenue, Brentford TW8",1 bed flat to rent,1,1,"£1,300 pcm","Marketed by Miki Property, NW5",020 3641 2372
9290,Maisonette,"Saxon Road, London E3",4 bed maisonette to rent,4,1,"£2,000 pcm","Marketed by East Homes Estates, E14",020 8033 0778
9294,Room,"20 Salisbury Road, London E12",Room to rent,1,1,£700 pcm,"Marketed by East Homes Estates, E14",020 8033 0778
9297,Room,"First Avenue, London E12",Room to rent,1,1,£500 pcm,"Marketed by East Homes Estates, E14",020 8033 0778
9465,Flat,"Riverside Close, Romford RM1",2 bed flat to rent,2,2,"£1,195 pcm","Marketed by Haverstock Property Services, RM2",01708 954867
9496,Room,"Brunswick Road, Hanger Lane Ealing W5",Room to rent,1,1,£650 pcm,"Marketed by Ewing Property Consultant, W10",020 3641 9140
9497,Room,"Warwick Road, Ealing W5",Room to rent,1,1,£800 pcm,"Marketed by Ewing Property Consultant, W10",020 3641 9140

In [105]:
def convPrice(row):
    row['Price (£)'] = ''.join(re.findall(r'\d', row['Price (£)']))
    return row
    
t.apply(convPrice, axis='columns')

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
0,Flat,"Rotherhithe New Road, London SE16",3 bed flat to rent,3,1,1842,"Marketed by Merlin Cooper, SW1W",020 8128 1578
1,Studio,"Chingford Road, London E17",Studio to rent,1,1,750,"Marketed by Next Location Ltd Co Ltd, N16",020 8022 0049
2,Flat,"Gateway, Walworth Road, London SE17",5 bed flat to rent,5,1,2708,"Marketed by Merlin Cooper, SW1W",020 8128 1578
3,Flat,"Queens Drive, London N4",3 bed flat to rent,3,1,1770,"Marketed by Blackstones Estates, N8",020 3641 4305
4,Flat,"Milton Court, Chesterton Close, Wandsworth SW18",1 bed flat to rent,1,NaN,1500,"Marketed by Lets Find A Home, SW18",020 3641 0386
...,...,...,...,...,...,...,...,...
9995,Flat,"Hanworth Road, Hounslow TW3",1 bed flat to rent,1,1,1150,"Marketed by Martin & Co Twickenham, TW1",020 3641 4127
9996,Flat,"Calvert Drive, Dartford DA2",2 bed flat to rent,2,2,1450,"Marketed by Capital Sidcup, DA15",020 3641 1743
9997,Flat,"Belsize Avenue, London NW3",2 bed flat to rent,2,1,2100,"Marketed by OpenRent, EC1N",020 3542 2178
9998,Flat,"Framlingham Court, Chadwell Heath, Romford RM6",2 bed flat to rent,2,1,1200,"Marketed by OpenRent, EC1N",020 3542 2178
9999,Studio,"Eagle Lodge, London NW11",Studio to rent,1,1,1100,"Marketed by OpenRent, EC1N",020 3542 2178

In [106]:
t = t[t != '']
t.isna().sum()

PropertyType      0
Address           0
Description       0
Bedrooms        142
Bathrooms       759
Price (£)        43
Agent             0
Tel               0
dtype: int64

In [107]:
t[t['Price (£)'].isna()]

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
120,Town house,"Rainsborough Square, London SW6",5 bed town house to rent,5,6,NaN,"Marketed by Keller Williams Prime Properties, W1H",020 8022 0282
457,Flat,"Golders Green Crescent, London NW11",2 bed flat to rent,2,1,NaN,"Marketed by Dreamview Estates, NW11",020 3641 2610
935,Flat,"Hamilton Road, London NW11",1 bed flat to rent,1,1,NaN,"Marketed by Dreamview Estates, NW11",020 3641 2610
1193,Flat,"Pembroke Road, Ruislip HA4",2 bed flat to rent,2,2,NaN,"Marketed by Orchard Property Services, UB10",01895 262103
1579,Flat,"The Vista Building, Woolwich SE18",1 bed flat to rent,1,1,NaN,"Marketed by RE/MAX First, SE13",020 8128 1577
1597,Flat,"Bethnal Green Road, Bethnal Green, London E2",1 bed flat to rent,1,1,NaN,"Marketed by Salik & Co, E1",020 3463 9605
1978,Town house,"Avery Walk, London SW11",3 bed town house to rent,3,2,NaN,"Marketed by BrownRok, W1T",020 8033 6678
2213,Property,"Sussex Gardens, London W2",Property to rent,NaN,NaN,NaN,"Marketed by The Cloister, W1W",020 8115 9868
2214,Property,"Sussex Gardens, London W2",5 bed property to rent,5,1,NaN,"Marketed by The Cloister, W1W",020 8115 9868
2804,Flat,"Vincent Square, Westminster SW1P",2 bed flat to rent,2,2,NaN,"Marketed by RE/MAX Capital, W1J",020 8128 4712
2964,Flat,"Berber Parade, Shooters Hill SE18",1 bed flat to rent,1,1,NaN,"Marketed by Truepenny's Property Consultants, SE7",020 3641 3365
3332,Flat,"One Park Drive, Canary Wharf E14",1 bed flat to rent,1,1,NaN,"Marketed by Lixing, SW1Y",020 3641 7631
3393,Flat,"Barley Lane, Goodmayes, Ilford IG3",1 bed flat to rent,1,1,NaN,"Marketed by G8 Properties, IG3",020 7768 1786
3437,Flat,"Duke Street, London W1K",3 bed flat to rent,3,3,NaN,"Marketed by Breteuil, SW10",020 7768 6685
3524,Flat,"Dance Square, London EC1V",2 bed flat to rent,2,2,NaN,"Marketed by Alliance London, E14",020 8033 3527
3589,Flat,"Young Street, London W8",1 bed flat to rent,1,1,NaN,"Marketed by Breteuil, SW10",020 7768 6685
3785,Flat,"Rutland Gate, London SW7",3 bed flat to rent,3,2,NaN,"Marketed by Breteuil, SW6",020 8115 5058
4019,Semi-detached house,"Cowley Crescent, Uxbridge, Greater London UB8",5 bed semi-detached house to rent,5,5,NaN,"Marketed by My Move Estate Agents, UB10",020 3641 2571
4055,Flat,"Blenheim Parade, Uxbridge Road, Hayes, Greater...",3 bed flat to rent,3,1,NaN,"Marketed by My Move Estate Agents, UB10",020 3641 2571
4361,Room,"Ripley Rd, Seven Kings IG3",Room to rent,1,1,NaN,"Marketed by Hansons Estates, IG3",020 8033 2272
4606,Flat,"Rutland Gate, London SW7",3 bed flat to rent,3,2,NaN,"Marketed by Breteuil, SW6",020 8115 5058
4780,Terraced bungalow,"Moremead Road, London SE6",3 bed terraced bungalow to rent,3,1,NaN,"Marketed by 99Home Ltd, HA0",020 8115 8799
5482,Flat,"Chesham Place, London SW1X",3 bed flat to rent,3,2,NaN,"Marketed by Breteuil, SW10",020 7768 6685
6019,Semi-detached house,"Broadoak Avenue, Enfield EN3",4 bed semi-detached house to rent,4,NaN,NaN,"Marketed by BrownRok, W1T",020 8033 6678
6444,Studio,"Baildon Street, Deptford SE8",Studio to rent,1,1,NaN,"Marketed by Kallars London, SE8",020 8033 8661
6577,Flat,"72 Fairthorn Road, London SE7",3 bed flat to rent,3,2,NaN,"Marketed by Expedius Properties, E16",020 3641 3730
6679,Maisonette,"Mill Hill, London, Barnet NW7",1 bed maisonette to rent,1,1,NaN,"Marketed by 99Home Ltd, HA0",020 8115 8799
6755,Terraced house,"Hill Road, Mitcham CR4",6 bed terraced house to rent,6,2,NaN,"Marketed by Global Estates, SW17",020 3641 7925
6857,Terraced house,"Longthornton Road, Streatham SW16",5 bed terraced house to rent,5,2,NaN,"Marketed by Global Estates, SW17",020 3641 7925
6910,Flat,"Empire Way, Wembley HA9",2 bed flat to rent,2,1,NaN,"Marketed by Orchard Property Services, UB10",01895 262103
7144,Property,"Cephas Road, Stepney Green E1",3 bed property to rent,3,1,NaN,"Marketed by Salik & Co, E1",020 3463 9605
7222,Flat,"Fulham Road, London SW3",2 bed flat to rent,2,NaN,NaN,"Marketed by Breteuil, SW10",020 7768 6685
7224,Flat,"Fulham Road, London SW3",2 bed flat to rent,2,1,NaN,"Marketed by Breteuil, SW10",020 7768 6685
7276,Flat,"Young Street, London W8",2 bed flat to rent,2,2,NaN,"Marketed by Breteuil, SW10",020 7768 6685
7523,Flat,"8 Chantry Close, London SE2",2 bed flat to rent,2,1,NaN,"Marketed by 99Home Ltd, HA0",020 8115 8799
7642,Flat,"Rosalind Franklin House - Hampstead Manor, Ham...",2 bed flat to rent,2,2,NaN,"Marketed by Lixing, SW1Y",020 3641 7631
8066,Flat,"Kensington Apartment, London E1",3 bed flat to rent,3,2,NaN,"Marketed by Panda Residential, W1T",020 8033 3107
8331,Maisonette,"St James Road, Croydon CR0",1 bed maisonette to rent,1,1,NaN,"Marketed by Cray & Norton, CR0",020 8022 2822
8337,Studio,"Inverine Road, Charlton SE7",Studio to rent,1,1,NaN,"Marketed by Truepenny's Property Consultants, SE7",020 3641 3365
8376,Flat,"Inverine Road, Charlton SE7",1 bed flat to rent,1,1,NaN,"Marketed by Truepenny's Property Consultants, SE7",020 3641 3365
8896,Terraced house,"Holne Chase, Morden, Surrey SM4",4 bed terraced house to rent,4,3,NaN,"Marketed by SoleMove, SW19",020 3641 8759
9633,Flat,"Southgate Road, London N1",3 bed flat to rent,3,2,NaN,"Marketed by 99Home Ltd, HA0",020 8115 8799
9918,Flat,"Monarch Apartments, High Road, Willesden NW10",2 bed flat to rent,2,1,NaN,"Marketed by Abacus Estates - Kensal Rise, NW10",020 3641 5385

In [108]:
ind = t[t['Price (£)'].isna()].index.to_list()

missing = [np.nan, '1650', '1300', '1450', '1100', '1300', np.nan, np.nan, np.nan, '3250', '1250', '2250', '950',
           '17333', '3250', '3683', '13000', '4000', '1350', '525', '9533', np.nan, '13000', '1850', '1050', '1950', 
           '850', '2350', '2250', '1500', '1950', '3315', '3748', '5417', '1250', '3500', '3900', '1000', '625', np.nan,
           '2700', '3791', '1950']

In [109]:
for m, n in enumerate(ind):
    t.loc[n, 'Price (£)'] = missing[m]

t.iloc[ind, :]

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
120,Town house,"Rainsborough Square, London SW6",5 bed town house to rent,5,6,NaN,"Marketed by Keller Williams Prime Properties, W1H",020 8022 0282
457,Flat,"Golders Green Crescent, London NW11",2 bed flat to rent,2,1,1650,"Marketed by Dreamview Estates, NW11",020 3641 2610
935,Flat,"Hamilton Road, London NW11",1 bed flat to rent,1,1,1300,"Marketed by Dreamview Estates, NW11",020 3641 2610
1193,Flat,"Pembroke Road, Ruislip HA4",2 bed flat to rent,2,2,1450,"Marketed by Orchard Property Services, UB10",01895 262103
1579,Flat,"The Vista Building, Woolwich SE18",1 bed flat to rent,1,1,1100,"Marketed by RE/MAX First, SE13",020 8128 1577
1597,Flat,"Bethnal Green Road, Bethnal Green, London E2",1 bed flat to rent,1,1,1300,"Marketed by Salik & Co, E1",020 3463 9605
1978,Town house,"Avery Walk, London SW11",3 bed town house to rent,3,2,NaN,"Marketed by BrownRok, W1T",020 8033 6678
2213,Property,"Sussex Gardens, London W2",Property to rent,NaN,NaN,NaN,"Marketed by The Cloister, W1W",020 8115 9868
2214,Property,"Sussex Gardens, London W2",5 bed property to rent,5,1,NaN,"Marketed by The Cloister, W1W",020 8115 9868
2804,Flat,"Vincent Square, Westminster SW1P",2 bed flat to rent,2,2,3250,"Marketed by RE/MAX Capital, W1J",020 8128 4712
2964,Flat,"Berber Parade, Shooters Hill SE18",1 bed flat to rent,1,1,1250,"Marketed by Truepenny's Property Consultants, SE7",020 3641 3365
3332,Flat,"One Park Drive, Canary Wharf E14",1 bed flat to rent,1,1,2250,"Marketed by Lixing, SW1Y",020 3641 7631
3393,Flat,"Barley Lane, Goodmayes, Ilford IG3",1 bed flat to rent,1,1,950,"Marketed by G8 Properties, IG3",020 7768 1786
3437,Flat,"Duke Street, London W1K",3 bed flat to rent,3,3,17333,"Marketed by Breteuil, SW10",020 7768 6685
3524,Flat,"Dance Square, London EC1V",2 bed flat to rent,2,2,3250,"Marketed by Alliance London, E14",020 8033 3527
3589,Flat,"Young Street, London W8",1 bed flat to rent,1,1,3683,"Marketed by Breteuil, SW10",020 7768 6685
3785,Flat,"Rutland Gate, London SW7",3 bed flat to rent,3,2,13000,"Marketed by Breteuil, SW6",020 8115 5058
4019,Semi-detached house,"Cowley Crescent, Uxbridge, Greater London UB8",5 bed semi-detached house to rent,5,5,4000,"Marketed by My Move Estate Agents, UB10",020 3641 2571
4055,Flat,"Blenheim Parade, Uxbridge Road, Hayes, Greater...",3 bed flat to rent,3,1,1350,"Marketed by My Move Estate Agents, UB10",020 3641 2571
4361,Room,"Ripley Rd, Seven Kings IG3",Room to rent,1,1,525,"Marketed by Hansons Estates, IG3",020 8033 2272
4606,Flat,"Rutland Gate, London SW7",3 bed flat to rent,3,2,9533,"Marketed by Breteuil, SW6",020 8115 5058
4780,Terraced bungalow,"Moremead Road, London SE6",3 bed terraced bungalow to rent,3,1,NaN,"Marketed by 99Home Ltd, HA0",020 8115 8799
5482,Flat,"Chesham Place, London SW1X",3 bed flat to rent,3,2,13000,"Marketed by Breteuil, SW10",020 7768 6685
6019,Semi-detached house,"Broadoak Avenue, Enfield EN3",4 bed semi-detached house to rent,4,NaN,1850,"Marketed by BrownRok, W1T",020 8033 6678
6444,Studio,"Baildon Street, Deptford SE8",Studio to rent,1,1,1050,"Marketed by Kallars London, SE8",020 8033 8661
6577,Flat,"72 Fairthorn Road, London SE7",3 bed flat to rent,3,2,1950,"Marketed by Expedius Properties, E16",020 3641 3730
6679,Maisonette,"Mill Hill, London, Barnet NW7",1 bed maisonette to rent,1,1,850,"Marketed by 99Home Ltd, HA0",020 8115 8799
6755,Terraced house,"Hill Road, Mitcham CR4",6 bed terraced house to rent,6,2,2350,"Marketed by Global Estates, SW17",020 3641 7925
6857,Terraced house,"Longthornton Road, Streatham SW16",5 bed terraced house to rent,5,2,2250,"Marketed by Global Estates, SW17",020 3641 7925
6910,Flat,"Empire Way, Wembley HA9",2 bed flat to rent,2,1,1500,"Marketed by Orchard Property Services, UB10",01895 262103
7144,Property,"Cephas Road, Stepney Green E1",3 bed property to rent,3,1,1950,"Marketed by Salik & Co, E1",020 3463 9605
7222,Flat,"Fulham Road, London SW3",2 bed flat to rent,2,NaN,3315,"Marketed by Breteuil, SW10",020 7768 6685
7224,Flat,"Fulham Road, London SW3",2 bed flat to rent,2,1,3748,"Marketed by Breteuil, SW10",020 7768 6685
7276,Flat,"Young Street, London W8",2 bed flat to rent,2,2,5417,"Marketed by Breteuil, SW10",020 7768 6685
7523,Flat,"8 Chantry Close, London SE2",2 bed flat to rent,2,1,1250,"Marketed by 99Home Ltd, HA0",020 8115 8799
7642,Flat,"Rosalind Franklin House - Hampstead Manor, Ham...",2 bed flat to rent,2,2,3500,"Marketed by Lixing, SW1Y",020 3641 7631
8066,Flat,"Kensington Apartment, London E1",3 bed flat to rent,3,2,3900,"Marketed by Panda Residential, W1T",020 8033 3107
8331,Maisonette,"St James Road, Croydon CR0",1 bed maisonette to rent,1,1,1000,"Marketed by Cray & Norton, CR0",020 8022 2822
8337,Studio,"Inverine Road, Charlton SE7",Studio to rent,1,1,625,"Marketed by Truepenny's Property Consultants, SE7",020 3641 3365
8376,Flat,"Inverine Road, Charlton SE7",1 bed flat to rent,1,1,NaN,"Marketed by Truepenny's Property Consultants, SE7",020 3641 3365
8896,Terraced house,"Holne Chase, Morden, Surrey SM4",4 bed terraced house to rent,4,3,2700,"Marketed by SoleMove, SW19",020 3641 8759
9633,Flat,"Southgate Road, London N1",3 bed flat to rent,3,2,3791,"Marketed by 99Home Ltd, HA0",020 8115 8799
9918,Flat,"Monarch Apartments, High Road, Willesden NW10",2 bed flat to rent,2,1,1950,"Marketed by Abacus Estates - Kensal Rise, NW10",020 3641 5385

### Remove duplicates

In [112]:
new = t.drop_duplicates()
new

,PropertyType,Address,Description,Bedrooms,Bathrooms,Price (£),Agent,Tel
0,Flat,"Rotherhithe New Road, London SE16",3 bed flat to rent,3,1,1842,"Marketed by Merlin Cooper, SW1W",020 8128 1578
1,Studio,"Chingford Road, London E17",Studio to rent,1,1,750,"Marketed by Next Location Ltd Co Ltd, N16",020 8022 0049
2,Flat,"Gateway, Walworth Road, London SE17",5 bed flat to rent,5,1,2708,"Marketed by Merlin Cooper, SW1W",020 8128 1578
3,Flat,"Queens Drive, London N4",3 bed flat to rent,3,1,1770,"Marketed by Blackstones Estates, N8",020 3641 4305
4,Flat,"Milton Court, Chesterton Close, Wandsworth SW18",1 bed flat to rent,1,NaN,1500,"Marketed by Lets Find A Home, SW18",020 3641 0386
...,...,...,...,...,...,...,...,...
9995,Flat,"Hanworth Road, Hounslow TW3",1 bed flat to rent,1,1,1150,"Marketed by Martin & Co Twickenham, TW1",020 3641 4127
9996,Flat,"Calvert Drive, Dartford DA2",2 bed flat to rent,2,2,1450,"Marketed by Capital Sidcup, DA15",020 3641 1743
9997,Flat,"Belsize Avenue, London NW3",2 bed flat to rent,2,1,2100,"Marketed by OpenRent, EC1N",020 3542 2178
9998,Flat,"Framlingham Court, Chadwell Heath, Romford RM6",2 bed flat to rent,2,1,1200,"Marketed by OpenRent, EC1N",020 3542 2178
9999,Studio,"Eagle Lodge, London NW11",Studio to rent,1,1,1100,"Marketed by OpenRent, EC1N",020 3542 2178

### Make csv file

In [113]:
t = new.rename(columns={'Price (£)':'Price GBP'})
t.to_csv('rent_properties_London.csv', index=False)

### PostgreSQL
Send results to sql database

In [114]:
# import sqlalchemy

# engine = sqlalchemy.create_engine('[dialect]sql://database:password@localhost:port')
# t.to_sql('renting_london_zoopla', engine, index=False)